.cabeçalho{
   background-color: #FF9e9e;
   padding: 0px;
   margin: 0px;
   height: 250px;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
}

.div-imagens-p1{
   height: 170px;
   left: 17px;
   position: absolute;
   width: 300px;
   top: 17px;
}

.div-imagens-p2 {
   height: 170px;
   left: 1110px;
   position: absolute;
   width: 300px;
   top: 17;
   justify-content: space-around;
}

.título-corpo{
   font-size: 48px;
   font-family: Bree serif;
   font-weight: 400px;
   line-height: 45px;
   text-align: center;
   display: flex;
   justify-content: center;
   position: absolute;
   color: #ff0101;
   width: 796px;
   height: 65px;
   left: 322px;
   top: 69px;
}

.body{
   margin: 0%;
   padding: 0%;
}